.icon-fa {
  width: 1.25rem;
}

.icon-fa-success {
  fill: var(--tblr-success);
}
.icon-fa-danger {
  fill: var(--tblr-danger);
}
.icon-fa-warning {
  fill: var(--tblr-warning);
}

.icon-title {
  width: 1.25rem;
  fill: #b1b1b1;
}

#raidBackup,
#informationNetwork,
#history {
  scroll-margin-top: 70px;
}

.list-group-item {
  background-color: #fff !important;
}
